.clearfix{clear:both;}
.heading,.show_hide{float:left;}
.show_hide{margin:1.33em;}
.code_text{display:none;}
.delete_notice {position:relative !important;padding:9px 0 !important;vertical-align: middle;}
.first_label{font-size: 14px;font-weight: 600;text-transform: capitalize;}


